:root {
  --main-font-family: 'Helvetica', sans-serif;
  --black: #000;
  --gray: #999;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--main-font-family);;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background: #F9F9F9;
}

.main-container {
  display: flex;
  margin: 10% 7%;
}

.left-container {
  flex: 1;
}

.middle-container {
  flex: 3;
  display: flex;
  justify-content: center;
}

.right-container {
  flex: 1;
  display: flex;
  justify-content: center;
}